:root {
    --background_color: #1c1b22;
    --heading_color: azure;
}
body {
    background-color: var(--background_color);
    color: var(--heading_color);
}
a {
    color: var(--heading_color);
}
a:hover {
    color: royalblue;
}